# This is Git's per-user configuration file.
[user]
	name = baggiiiie
	email = yc@yingchaoooo.com

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://git.illumina.com"]
	provider = github

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.gitconfig-personal

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = ~/.gitconfig-personal

[includeIf "hasconfig:remote.*.url:git@git.illumina.com:*/**"]
    path = ~/.gitconfig-work

[includeIf "hasconfig:remote.*.url:https://git.illumina.com/**"]
    path = ~/.gitconfig-work

[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
	sort = version:refname
[init]
    defaultBranch = main
[pager]
    # Use a pager if the difftool output is larger than one screenful,
    # consistent with the behaviour of `git diff`.
    difftool = true
	diff = diffnav
; [show]
;     tool = difftastic
[diff]
    # Set difftastic as the default difftool, so we don't need to specify
    # `-t difftastic` every time.
    ; tool = difftastic
    tool = delta
    ; external = delta
    colorMoved = default
[difftool]
    # Run the difftool immediately, don't ask 'are you sure' each time.
    prompt = false
[push]
    default = simple
	autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true

# why the hell not?
[help]
	autocorrect = prompt
[commit]
    verbose = true
[rerere]
	enabled = true
	autoupdate = true
[core]
    excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RF
	; pager = delta
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

# a matter of taste (uncomment if you dare)

[merge]
	conflictStyle = diff3
        # (just 'diff3' if git version < 2.3)
        # conflictstyle = zdiff3 
[pull]
	rebase = true
[interactive]
	diffFilter = diff-so-fancy --patch

[delta "split-view"]
    side-by-side = true

[delta "non-split-view"]
    side-by-side = false

[delta]
    features = split-view
    navigate = true
    line-numbers = true
; [delta]
;     side-by-side = true
;     navigate = true

[color]
    ui = always
; [difftool "difftastic"]
; 	cmd = difft --width=$COLUMNS \"$LOCAL\" \"$REMOTE\"
