# This is Git's per-user configuration file.
[user]
	name = baggiiiie
	email = yc@yingchaoooo.com

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://git.illumina.com"]
	provider = github

[includeIf "hasconfig:remote.*.url:git@git.illumina.com:*/**"]
   path = ~/.gitconfig-work

[includeIf "hasconfig:remote.*.url:https://git.illumina.com/**"]
  path = ~/.gitconfig-work

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[core]
        excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
	pager = delta
        # fsmonitor = true
        # untrackedCache = true
[merge]
	conflictStyle = zdiff3
        # (just 'diff3' if git version < 2.3)
        # conflictstyle = zdiff3 
[pull]
  rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
