[ui]
auto_refresh_interval = 30
enable_mouse = true
mouse_events = true

[ui.colors]
"selected" = { bold = true, bg = "#575048" }

[revisions]
template = 'builtin_log_compact' # overrides jj's templates.log
# revset = "trunk():: & mine()"    # overrides jj's revsets.log

[preview]
revision_command = [
    "show",
    "--color",
    "always",
    "-r",
    "$change_id",
    "--config",
    "ui.diff-formatter=delta-non-split-view",
]
file_command = [
    "diff",
    "--color",
    "always",
    "-r",
    "$change_id",
    "--config",
    "ui.diff-formatter=delta-non-split-view",
    "$file",
]
width_percentage = 60.0

[custom_commands]
"difft" = { key = ["ctrl+s"], args = [
    "diff",
    "-r",
    "$change_id",
    "--tool",
    "difft",
    "--color",
    "always",
    # "-s",
], show = "diff" }

"tug" = { key = ["alt+t"], args = ["tug"] }

"open PR in github" = { key = [
    "G",
], args = [
    "util",
    "exec",
    "--",
    "bash",
    "-c",
    """
bm=$(jj log --no-graph --color=never -r $change_id -T 'bookmarks')
bash /Users/ydai/Desktop/repos/personal/dotfiles/others/git-create-pr.sh --branch "$bm"
""",
] }

[leader.n]
context = ["$change_id"]
help = "New change"

[leader.na]
help = "After"
send = [":", "new -A \"$change_id\"", "enter"]

[leader.nb]
help = "Before"
send = [":", "new -B \"$change_id\"", "enter"]
