[preview]
file_command = [
    "diff",
    "--color",
    "always",
    "-r",
    "$change_id",
    "--config",
    "ui.diff-formatter=delta-non-split-view",
    "$file",
]
position = "auto"
revision_command = [
    "show",
    "--color",
    "always",
    "-r",
    "$change_id",
    "--config",
    "ui.diff-formatter=delta-non-split-view",
]
width_percentage = 60.0


[suggest]
[suggest.exec]
mode = "fuzzy"

[ui]
auto_refresh_interval = 30
enable_mouse = true
mouse_events = true

[ui.colors]
[ui.colors.selected]
bg = "#575048"
bold = true

[[actions]]
name = "deltadiff"
lua = '''
jj_interactive("util", "exec", "--", "bash", "-c", "/Users/ydai/Desktop/repos/personal/dotfiles/.config/jj/jj-diffnav.sh -r " .. context.change_id())
'''

[[bindings]]
action = "deltadiff"
key = "d"
scope = "revisions"
desc = "deltadiff"

[[actions]]
name = "new_insert_after"
lua = '''
  jj("new", "-A", context.change_id())
  revisions.refresh()

  local new_change_id = jj("log", "-r", "@", "-T", "change_id.shortest()", "--no-graph")
  revisions.navigate{to=new_change_id}
  
'''

[[bindings]]
action = "new_insert_after"
key = "N"
scope = "revisions"
desc = "new_insert_after"

[[bindings]]
action = "revisions.inline_describe"
desc = "inline describe"
key = ["enter"]
scope = "revisions.details"
